<div class="row mt-sm-4 mt-md-0">
  <div class="col-sm-12 col-md-8 text-sm-center text-md-left">
    <h3>Section 2 Heading</h3>

    <p class="lead">
      A simple type of writing and stuff to read like awesome lorem ipsum stuff
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pharetra
      placerat libero id pellentesque. Morbi pharetra eros enim, vitae egestas
      augue pellentesque a.
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pharetra
      placerat libero id pellentesque. Morbi pharetra eros enim, vitae egestas
      augue pellentesque a.
    </p>
  </div>
  <div class="col-sm-12 col-md-4">
    <h3 class="mb-4">Secondary Menu</h3>

    <ul class="nav flex-column nav-pills">
      <li class="nav-items">
        <a class="nav-link active" href="#">Active</a>
      </li>
      <li class="nav-items">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-items">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-items">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
</div>
